@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
        
/* Font Family Definitions */
body {
font-family: 'Roboto', sans-serif; /* Use Roboto as the default font */
}
.brand-font {
    font-family: Arial, Helvetica, sans-serif; /* Use Arial for the brand font */
}


.common-bg {
    background-image: url('Hero.jpg');
    background-size: cover;
    background-position: center;
}

.scontainer {
    height: 0;
    width: 0;
    position: absolute;
    margin-left: 250px;
    margin-top: 35px;
    left: 0;
    right: 0;
    top: 256vh;
    bottom: 0;
}

.face {
    position: relative;
    transform-origin: 0 0;
    height: 10em;
    width: 10em;
}

.left {
    transform: rotate(90deg) skewX(-30deg) scaleY(0.864);
}

.right {
    transform: rotate(-30deg) skewX(-30deg) scaleY(0.864);
    bottom: 10em;
}

.top {
    transform: rotate(210deg) skew(-30deg) scaleY(0.864);
    bottom: 20em;
}

img {
    width: 100%;
}

.left img {
    transform: rotate(-90deg);
}

.right img {
    transform: rotate(0deg);
}

.top img {
    transform: rotate(180deg);
}

.top:after,
.right:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.top:after {
    background-color: rgba(255, 255, 255, 0.15);
}

.right:after {
    background-color: rgba(0, 0, 0, 0.35);
}

.top:before {
    position: absolute;
    content: "";
    background: linear-gradient(
        to left,
        rgba(1, 2, 83, 0.1) 15%,
        rgba(1, 2, 83, 0) 50%
    );
    height: 100%;
    width: 100%;
    left: -200%;
    top: -100%;
}

@media screen and (max-width: 700px) {
    .scontainer {
        font-size: 0.6em;
        top: 170vh;
        margin-left: 0;
        margin-top: 0;
        margin: auto;
        transform: scale(0.8); /* Reduce the size for smaller screens */
    }
}


/* Snow Effect */

.snow_wrap {
    height: 100vh;
    width: 100%;
    background: url("bg.jpg");
    background-size: cover;
    background-position: center bottom;
    position: relative;
    overflow: hidden;
  }
  .snow,.snow:after,.snow::before {
    content: '';
    position: absolute;
    top: -650px;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(4px 4px at 100px 50px,#fff,transparent),
                      radial-gradient(6px 6px at 200px 150px, #fff,transparent),
                      radial-gradient(3px 3px at 300px 250px,#fff,transparent),
                      radial-gradient(4px 4px at 400px 350px,#fff,transparent),
                      radial-gradient(6px 6px at 500px 100px,#fff,transparent),
                      radial-gradient(3px 3px at 50px 200px,#fff,transparent),
                      radial-gradient(4px 4px at 150px 300px,#fff,transparent),
                      radial-gradient(6px 6px at 250px 400px,#fff,transparent),
                      radial-gradient(3px 3px at 350px 500px,#fff,transparent),
                      radial-gradient(4px 4px at 550px 550px,#fff,transparent);
    background-size: 650px 650px;
    animation: SnowAnim 3s linear infinite;
  }
  .snow:after {
    margin-left: -250px;
    opacity: 0.5;
    filter: blur(2px);
    animation-direction: reverse;
    animation-duration: 6s;
  }
  .snow::before {
    margin-left: -350px;
    opacity: 0.7;
    filter: blur(1px);
    animation-direction: reverse;
    animation-duration: 9s;
  }
  @keyframes SnowAnim {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(650px);
    }
  }